<section fxLayout="column" fxFlexAlign="stretch">
    <div fxFlexAlign="center">
        <p>Welcome to the Travel Planner Application</p>
    </div>

    <mat-card>
        <mat-card-title></mat-card-title>
        <mat-card-content>
            <p>In this application we are going to Register new flights and view the details of the registered flights.
            </p>
            <p>Click on 'Register' to add/create a new flight information. Click on 'Flights' to get the list of
                available Flights.</p>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center">
            <button mat-raised-button color="primary" routerLink="/flights/create">Register</button>
            <button mat-raised-button color="primary" routerLink="/flights">Flights</button>
        </mat-card-actions>
    </mat-card>

</section>
